Repository mite-standard/mite_data: changes, and which pre-commit hooks are due for each by the changed paths.
All: mite-validate, pytest

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-yaml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.0
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: local
  hooks:
    - id: mite-update
      name: mite-update
      entry: hatch run python ./mite_data/main.py
      language: system
    - id: mite-validate
      name: mite-validate
      entry: hatch run python .github/mite_validation.py
      language: system
      types: [ json ]
      exclude: "metadata"
    - id: pytest
      name: pytest
      entry: hatch run pytest tests/
      language: system
      types: [ file, python ]

update data and metadata
  CHANGELOG.md
  CITATION.cff
  LICENSE
  mite_data/data/MITE0000040.json
  mite_data/data/MITE0000198.json
  mite_data/fasta/MITE0000198.fasta
  mite_data/main.py
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
  mite_data/modules/fasta_manager.py
  mite_data/modules/metadata_manager.py
  pyproject.toml
  tests/test_modules/test_blast_manager.py
Due: mite-validate, pytest

Fix cff file
  CHANGELOG.md
  CITATION.cff
  pyproject.toml
Due: none

updated metadata
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  pyproject.toml
Due: none

Update 02-25
  CHANGELOG.md
  mite_data/data/MITE0000173.json
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
Due: mite-validate

Remove outdated documentation
  mite_data/modules/fasta_manager.py
Due: pytest

update metadata
  CHANGELOG.md
  pyproject.toml
Due: none

Update entries
  README.md
  mite_data/data/MITE0000179.json
  mite_data/data/MITE0000199.json
  mite_data/data/MITE0000200.json
  mite_data/data/MITE0000201.json
  mite_data/data/MITE0000202.json
  mite_data/data/MITE0000203.json
  mite_data/data/MITE0000204.json
  mite_data/data/MITE0000205.json
  mite_data/data/MITE0000206.json
  mite_data/data/MITE0000207.json
  mite_data/data/MITE0000208.json
  mite_data/data/MITE0000209.json
  mite_data/data/MITE0000210.json
  mite_data/data/MITE0000211.json
  mite_data/fasta/MITE0000199.fasta
  mite_data/fasta/MITE0000200.fasta
  mite_data/fasta/MITE0000201.fasta
  mite_data/fasta/MITE0000202.fasta
  mite_data/fasta/MITE0000203.fasta
  mite_data/fasta/MITE0000204.fasta
  mite_data/fasta/MITE0000205.fasta
  mite_data/fasta/MITE0000206.fasta
  mite_data/fasta/MITE0000207.fasta
  mite_data/fasta/MITE0000208.fasta
  mite_data/fasta/MITE0000209.fasta
  mite_data/fasta/MITE0000210.fasta
  mite_data/fasta/MITE0000211.fasta
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
  mite_data/modules/metadata_manager.py
Due: mite-validate, pytest

added release date
  CHANGELOG.md
Due: none

Changed metadata, fixed entry DOI
  CHANGELOG.md
  mite_data/data/MITE0000184.json
  mite_data/metadata/metadata_mibig.json
  pyproject.toml
Due: mite-validate

Contributor submission 1bf993c2-6876-11f0-9d13-fd4c4ae6c6dd
  mite_data/data/MITE0000001.json
Due: mite-validate

Contributor submission c8f8c962-6876-11f0-88d3-4d35ecf1a52c
  mite_data/data/MITE0000001.json
Due: mite-validate

Contributor submission ed4b6d50-6935-11f0-bd8b-baf7dc907692
  mite_data/data/MITE0000001.json
Due: mite-validate

Contributor submission AviG2
  mite_data/data/MITE0000001.json
Due: mite-validate

Contributor submission AviG4
  mite_data/data/MITE0000002.json
Due: mite-validate

Update changelog
  CHANGELOG.md
Due: none

Update CI scripts
  .github/mite_validation.py
  .github/workflows/ci_pr_main.yml
  .github/workflows/ci_push_main.yml
Due: pytest

Updated changelog
  CHANGELOG.md
Due: none

Fixed GH action workflow
  .github/mite_validation.py
  .github/workflows/ci_pr_main.yml
Due: pytest

Add workflow permissions
  .github/workflows/ci_pr_main.yml
  .github/workflows/ci_push_main.yml
Due: none

Updated dependencies
  .gitignore
  CHANGELOG.md
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
  pyproject.toml
Due: none

Update MITE0000001.json
  mite_data/data/MITE0000001.json
Due: mite-validate

metadata
  CHANGELOG.md
  pyproject.toml
Due: none

Updated metadata mibig
  .gitignore
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
  mite_data/modules/metadata_manager.py
  pyproject.toml
Due: pytest

Contributor submission JuiI
  mite_data/data/MITE0000125.json
Due: mite-validate

Removed fasta files of retired entries
  mite_data/fasta/MITE0000089.fasta
  mite_data/fasta/MITE0000140.fasta
  mite_data/fasta/MITE0000146.fasta
Due: none

Update MITE0000125.json
  mite_data/data/MITE0000125.json
Due: mite-validate

Contributor submission Tcp24/Orf2*/tAtf
  mite_data/data/MITE0000035.json
Due: mite-validate

Contributor submission ZopL9/ZopK
  mite_data/data/MITE0000120.json
Due: mite-validate

Contributor submission Ple5/PLE5_RHOPP
  mite_data/data/MITE0000179.json
Due: mite-validate

Fixed wrongly formatted URL
  mite_data/data/MITE0000027.json
  mite_data/data/MITE0000038.json
  mite_data/data/MITE0000041.json
  mite_data/metadata/metadata_mibig.json
Due: mite-validate

Update MITE0000179.json
  mite_data/data/MITE0000179.json
Due: mite-validate

Update MITE0000120.json
  mite_data/data/MITE0000120.json
Due: mite-validate

Update MITE0000035.json
  mite_data/data/MITE0000035.json
Due: mite-validate

Contributor submission OxyC
  mite_data/data/MITE0000027.json
Due: mite-validate

Contributor submission CalO2
  mite_data/data/MITE0000008.json
Due: mite-validate
