Repository mite-standard/mite_data: changes, and which pre-commit hooks are due for each by the changed paths.
All: mite-validate, pytest

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-yaml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.0
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: local
  hooks:
    - id: mite-update
      name: mite-update
      entry: hatch run python ./mite_data/main.py
      language: system
    - id: mite-validate
      name: mite-validate
      entry: hatch run python .github/mite_validation.py
      language: system
      types: [ json ]
      exclude: "metadata"
    - id: pytest
      name: pytest
      entry: hatch run pytest tests/
      language: system
      types: [ file, python ]

Fixed reaction smarts
  mite_data/data/MITE0000166.json
Due: mite-validate

Fixed reaction smarts
  mite_data/data/MITE0000168.json
Due: mite-validate

Fixed reaction smarts
  mite_data/data/MITE0000169.json
Due: mite-validate

update metadata
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
Due: none

Contributor submission ShyB
  mite_data/data/9eca633c-84f3-11f0-9437-721bc842b312.json
Due: mite-validate

Contributor submission Lactucin synthase
  mite_data/data/1591dddc-9495-11f0-ad42-5654d2504323.json
Due: mite-validate

Update 1591dddc-9495-11f0-ad42-5654d2504323.json
  mite_data/data/1591dddc-9495-11f0-ad42-5654d2504323.json
Due: mite-validate

Submission
  mite_data/data/afd179a0-96d6-11f0-ad42-5654d2504323.json
Due: mite-validate

dependencies update
  pyproject.toml
Due: none

hatch -> uv
  .pre-commit-config.yaml
Due: none

Contributor submission LsGAO1
  mite_data/data/afd179a0-96d6-11f0-ad42-5654d2504323.json
Due: mite-validate

Update README.md
  README.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update ci_push_main.yml
  .github/workflows/ci_push_main.yml
Due: none

Update ci_pr_main.yml
  .github/workflows/ci_pr_main.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Create uv.lock
  uv.lock
Due: none

Contributor submission TalE
  mite_data/data/653e29dc-9a06-11f0-b32a-ca82b38468a0.json
Due: mite-validate

Contributor submission TalC
  mite_data/data/5614d99e-9a09-11f0-b32a-ca82b38468a0.json
Due: mite-validate

Updated metadata, fixed failing tests
  CHANGELOG.md
  CITATION.cff
  README.md
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
  mite_data/modules/fasta_manager.py
  mite_data/modules/metadata_manager.py
  pyproject.toml
  tests/conftest.py
  tests/test_modules/test_blast_manager.py
  tests/test_modules/test_fasta_manager.py
  uv.lock
Due: pytest

Updating procedure rework
  README.md
Due: none

update changelog
  CHANGELOG.md
Due: none

reviewed file
  mite_data/data/MITE0000212.json
Due: mite-validate

reviewed file
  mite_data/data/MITE0000213.json
Due: mite-validate

reviewed entry
  mite_data/data/MITE0000214.json
Due: mite-validate

added reviewed entry
  mite_data/data/MITE0000215.json
Due: mite-validate

added reviewed file
  mite_data/data/9eca633c-84f3-11f0-9437-721bc842b312.json
Due: mite-validate

renamed reviewed file
  mite_data/data/MITE0000216.json
Due: mite-validate

Prepare publication
  .github/mite_validation.py
  .pre-commit-config.yaml
  README.md
  mite_data/fasta/MITE0000212.fasta
  mite_data/fasta/MITE0000213.fasta
  mite_data/fasta/MITE0000214.fasta
  mite_data/fasta/MITE0000215.fasta
  mite_data/fasta/MITE0000216.fasta
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
  reserved_accessions.json
Due: mite-validate, pytest

Fixed readme
  README.md
Due: none

test push
  mite_data/data/MITE0000001.json
Due: mite-validate

added matching mite entry - fasta header
  .github/mite_validation.py
  README.md
  mite_data/fasta/MITE0000163.fasta
Due: pytest

fixed release date
  CHANGELOG.md
Due: none

excluded reserved mite accs json from testing
  .github/mite_validation.py
Due: pytest

Contributor submission AviG2
  mite_data/data/MITE0000001.json
Due: mite-validate
