Repository mite-standard/mite_data: changes, and which pre-commit hooks are due for each by the changed paths.
All: mite-validate, pytest

mite-validate:
  name: mite-validate
  entry: uv run python3 .github/mite_validation.py
  language: system

pytest:
  name: pytest
  entry: uv run pytest
  language: system

Contributor submission AviG2
  mite_data/data/MITE0000001.json
Due: mite-validate

Contributor submission CYP502B15
  mite_data/data/9b46493a-9f59-11f0-bde5-7ad659882a33.json
Due: mite-validate

Update README.md
  README.md
Due: none

Update 9b46493a-9f59-11f0-bde5-7ad659882a33.json
  mite_data/data/9b46493a-9f59-11f0-bde5-7ad659882a33.json
Due: mite-validate

Update reserved_accessions.json
  reserved_accessions.json
Due: mite-validate

metadata update
  CHANGELOG.md
  mite_data/validation/mite_validation.py
  pyproject.toml
Due: pytest

Started rework of validation
  .github/workflows/ci_pr_main.yml
  .github/workflows/ci_push_main.yml
  mite_data/modules/metadata_manager.py
  mite_data/reserved_accessions.json
  mite_data/validation/__init__.py
  mite_data/validation/mite_validation.py
  tests/test_modules/test_fasta_manager.py
  tests/test_validation/test_mite_validator.py
  uv.lock
Due: mite-validate, pytest

fixed readme
  README.md
Due: none

Added unit tests for mite_validation
  .pre-commit-config.yaml
  mite_data/validation/mite_validation.py
  tests/test_validation/mock_fasta/MITE0000000.fasta
  tests/test_validation/mock_reserved.json
  tests/test_validation/mock_src/MITE0000000.json
  tests/test_validation/test_mite_validator.py
Due: mite-validate, pytest

Changed test to make less ambiguous
  tests/test_validation/test_mite_validator.py
Due: pytest

udpated lockfile to latest possible dependencies
  uv.lock
Due: none

implemented database validation lookup
  mite_data/validation/mite_validation.py
  tests/test_validation/test_mite_validator.py
Due: pytest

implemented uv.lock upgrade
  .pre-commit-config.yaml
Due: none

automated uv upgrade
  .pre-commit-config.yaml
  uv.lock
Due: none

implemented auto-update metadata etc
  .pre-commit-config.yaml
  mite_data/metadata/metadata_general.json
  mite_data/metadata/metadata_mibig.json
Due: none

Rework of metadata automation - not passing
  mite_data/main.py
  mite_data/modules/metadata_manager.py
  mite_data/validation/mite_validation.py
  tests/example_files/example_metadata.json
  tests/mock_fasta/MITE0000000.fasta
  tests/mock_metadata/example_invalid_metadata.json
  tests/mock_metadata/metadata_general.json
  tests/mock_metadata/metadata_mibig.json
  tests/mock_metadata/mibig_proteins.json
  tests/mock_metadata/mock_reserved.json
  tests/mock_src/MITE0000000.json
  tests/test_fasta_manager.py
  tests/test_main.py
  tests/test_metadata_manager.py
  tests/test_mite_validator.py
  tests/test_validation/mock_src/MITE0000000.json
Due: mite-validate, pytest

finished metadata manager update + testing
  .pre-commit-config.yaml
  mite_data/main.py
  mite_data/modules/metadata_manager.py
  pyproject.toml
  tests/test_main.py
  tests/test_metadata_manager.py
  uv.lock
Due: pytest

add auto-update mite precommit
  .pre-commit-config.yaml
Due: none

Fixed updating of mibig metadata with duplicate entries
  mite_data/modules/metadata_manager.py
  tests/test_metadata_manager.py
Due: pytest

Updated metadata files for taxonomy
  mite_data/main.py
  mite_data/metadata/metadata_general.json
  mite_data/metadata/summary.csv
  mite_data/modules/metadata_manager.py
Due: pytest

Fixed pre-commit
  .pre-commit-config.yaml
Due: none

reworked fasta manager
  mite_data/main.py
  mite_data/modules/fasta_manager.py
  tests/mock_fasta/MITE0000000.fasta
  tests/test_fasta_manager.py
Due: pytest

Implemented fasta manager in main
  mite_data/main.py
  tests/test_main.py
Due: pytest

cleanup
  mite_data/modules/fasta_manager.py
Due: pytest

Implemented molfiles creation
  CHANGELOG.md
  mite_data/metadata/dump_smarts.csv
  mite_data/metadata/dump_smiles.csv
  mite_data/metadata/product_list.pickle
  mite_data/metadata/reaction_fps.pickle
  mite_data/metadata/substrate_list.pickle
  mite_data/modules/fasta_manager.py
  mite_data/modules/molfile_manager.py
  pyproject.toml
  tests/test_molfile_manager.py
  uv.lock
Due: pytest

update reserved accessions
  mite_data/reserved_accessions.json
  tests/test_main.py
Due: mite-validate, pytest

Added MITE218
  .pre-commit-config.yaml
  mite_data/data/MITE0000218.json
  mite_data/fasta/MITE0000218.fasta
  mite_data/metadata/dump_smarts.csv
  mite_data/metadata/dump_smiles.csv
  mite_data/metadata/metadata_general.json
  mite_data/metadata/product_list.pickle
  mite_data/metadata/reaction_fps.pickle
  mite_data/metadata/substrate_list.pickle
  mite_data/metadata/summary.csv
Due: mite-validate

implement db ids validation check
  README.md
  mite_data/validation/mite_validation.py
Due: pytest

fixed validation gene id lookup
  mite_data/modules/fasta_manager.py
  mite_data/validation/mite_validation.py
  tests/test_fasta_manager.py
Due: pytest

Fix validation function
  mite_data/modules/fasta_manager.py
  mite_data/validation/mite_validation.py
Due: pytest

updated uniprot-uniparc
  mite_data/data/MITE0000092.json
  mite_data/data/MITE0000096.json
  mite_data/data/MITE0000097.json
  mite_data/data/MITE0000098.json
  mite_data/data/MITE0000099.json
  mite_data/data/MITE0000100.json
  mite_data/data/MITE0000105.json
  mite_data/data/MITE0000109.json
  mite_data/data/MITE0000129.json
  mite_data/data/MITE0000130.json
  mite_data/data/MITE0000131.json
  mite_data/data/MITE0000152.json
  mite_data/metadata/metadata_general.json
Due: mite-validate

updated changelog
  CHANGELOG.md
Due: none

Restrict cicd to mite files
  mite_data/validation/mite_validation.py
Due: pytest

Contributor submission LlpCT
  mite_data/data/8d5e6d36-b4ba-11f0-8197-2ae61445df06.json
Due: mite-validate

Contributor submission LsGAO1
  mite_data/data/MITE0000214.json
Due: mite-validate

Contributor submission BipD
  mite_data/data/f5950c32-b651-11f0-8197-2ae61445df06.json
Due: mite-validate

Contributor submission ChtnH
  mite_data/data/d9c98b32-b4d9-11f0-8197-2ae61445df06.json
Due: mite-validate

Fixed integration issue of CICD testing
  mite_data/validation/mite_validation.py
  uv.lock
Due: pytest

Path conditions:
  mite-validate: any of: \.json$, but not: metadata
  pytest: any of: \.py$
